  // base color
  $blue:#324157;
  $light-blue:#3A71A8;
  $red:#e74c3c;
  $pink: #E65D6E;
  $green: #30B08F;
  $tiffany: #4AB7BD;
  $yellow:#FEC171;
  $panGreen: #30B08F;
  $blueSmrt: #304156;
  $whiteGray: #BFCBD9;


  // the :export directive is the magic sauce for webpack
  // https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
  :export {
      blue: $blue;
      light-blue: $light-blue;
  }